.container {
	width: 1200px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}
.header-icon-text {
	display: flex;
	align-items: center;
}
.navigation {
	display: flex;
	/* gap: 10px; */
}
.navigation li {
	margin-left: 40px;
	list-style: none;
}
.signIn {
	background-color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 10px;
}
.signUp {
	background-color: #4d77ff;
	border: none;
	color: white;
	padding: 10px 15px;
	border-radius: 10px;
}

.sect {
	display: flex;
}

.word {
	width: 630px;
	margin-top: 100px;
}

.title {
	font-size: 54px;
	font-weight: 700;
	margin-bottom: 26px;
}

.paragraf {
	color: #696969;
	width: 600px;
	margin-bottom: 26px;
}

.contactUs {
	background-color: #4D77FF;
	color: white;
	padding: 16px 36px;
	border: none;
	border-radius: 10px;
}

.doc {
	margin-left: 137px;
}